* {
    font-family: "Terminus", monospace;
    /*font-family: ""JetBrainsMono Nerd Font", monospace;*/
    font-size: 14px;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(36, 39, 58, 0.92);
    color: #cad3f5;

    border-top: 1px solid #6e738d;
    border-bottom: 1px solid #6e738d;
}

#workspaces button {
    padding: 0 8px;
    margin: 0;

    color: #8aadf4;
    background: transparent;

    border-right: 1px solid #494d64;
}

#workspaces button.active {
    color: #eed49f;
    background: #363a4f;
}

#clock {
    color: #c6a0f6;
    padding: 0 12px;
    font-weight: bold;
}

#cpu,
#battery {
    padding: 0 8px;
    border-left: 1px solid #494d64;
    color: #f5bde6;
}

#memory,
#network,
#pulseaudio {
    padding: 0 8px;
    border-left: 1px solid #494d64;
}

#cpu {
    color: #a6da95;
}

#memory {
    color: #eed49f;
}

#network {
    color: #8bd5ca;
}

#pulseaudio {
    color: #f5a97f;
}

#pulseaudio.muted {
    color: #6e738d;
}

