[Unit]
Description=Trigger hyprsunset warm temperature at 8pm daily

[Timer]
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
